<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/scroller.js')}}"></script>
    <script>
    var options = {
        horizontal: 1,
        itemNav: 'basic',
        speed: 300,
        mouseDragging: 1,
        touchDragging: 1,
        scrollBar: '.scrollbar',
        dragHandle: true
    };
    var frame = new Sly('#frame', options).init();
    </script>



    <title>Title</title>
<style>
    .frame { width: 100%; height: 160px; padding: 0; }
    .frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
    .frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 120px; height: 100%; }
    .scrollbar { width: 100%; height: 10px; }
    .scrollbar .handle {
        width: 100px; /* overriden if dynamicHandle: 1 */
        height: 100%;
        background: #222;
    }
</style>
</head>
<body>

<h1>Traveltek</h1>
<br>
<h2>Popular Destination</h2>
<br>


<div class="frame" id="frame">
    <ul class="slidee">
      <!--
       {% for cruise in context.all_cruises %}
        <li><p>{{cruise.name}}</p></li>
        {% endfor %}-->
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>

    </ul>
</div>

<div class="scrollbar" id="scrollbar">
    <div class="handle"></div>
</div>

<br>
<h2>Popular Destination</h2>
<br>
<br>
<h2>5 Star Cruises</h2>
<br>
<br>
<h2>Sales</h2>
<br>
<br>
<h2>Shit holes</h2>
</div>

</div>


<script>



</script>
</body>
</html>
