<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='css/business-frontpage.css')}}" rel="stylesheet">



    <title>Title</title>
<style>
    .frame { width: 100%; height: 310px; padding: 0; }
    .frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
    .frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 300px; height: 100%}
    .scrollbar { width: 100%; height: 10px; }
    .scrollbar .handle {
        width: 100px; /* overriden if dynamicHandle: 1 */
        height: 100%;
        background: #222;
    }
    .header{
        background:#000000;
        width:1500px;
        height:200px;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
    }
</style>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Start Bootstrap</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#">About</a>
                  </li>
                  <li>
                      <a href="#">Services</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Image Background Page Header -->
  <!-- Note: The background image is set within the business-casual.css file. -->
  <header class="business-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="tagline">Traveltek</h1>
              </div>
          </div>
      </div>
  </header>

  <!-- Page Content -->
  <div class="container">
<h2>All Cruises in April 2017</h2>


<div class="frame" id="frame">
    <ul class="slidee">

      {% for cruise in context.all_cruises %}
        <li>
          <div class="panel panel-default">
            <div class="panel-heading" style="overflow: hidden; text-overflow: elipsis; height: 61px">
              <a href="/cruise/{{cruise.resultno}}" style="text-decoration: none"><h4 style="overflow: hidden; text-overflow: ellipsis; weight: 268px">{{cruise.name}}</h4></a>
            </div>
            <div class="panel-body" style="padding: 0; height: 180px">
              <a href="/cruise/{{cruise.resultno}}"><img src={{cruise.imageurl}} style="width: 100%; max-height: 180px"></img></a>
            </div>
            <div class="panel-footer">
              <a href="/cruise/{{cruise.resultno}}"><p>{{cruise.price}}</p></a></div>
          </div>
        </li>
      {% endfor %}
    </ul>
</div>
<div class="scrollbar" id="scrollbar">
    <div class="handle"></div>
</div>

<br>
<h2>Cruises 7 Nights Long</h2>
<div class="frame" id="frame2">
    <ul class="slidee">

      {% for cruise in context.nights_7 %}
      <li>
        <div class="panel panel-default">
          <div class="panel-heading" style="overflow: hidden; text-overflow: elipsis; height: 61px">
            <a href="cruise/{{cruise.resultno}}" style="text-decoration: none"><h4 style="overflow: hidden; text-overflow: ellipsis; weight: 268px">{{cruise.name}}</h4></a>
          </div>
          <div class="panel-body" style="padding: 0; height: 180px">
            <a href="/cruise/{{cruise.resultno}}"><img src={{cruise.imageurl}} style="width: 100%; max-height: 180px"></img></a>
          </div>
          <div class="panel-footer">
            <a href="/cruise/{{cruise.resultno}}"><p>{{cruise.price}}</p></a></div>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>
<div class="scrollbar" id="scrollbar2">
    <div class="handle"></div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{url_for('static', filename='js/scroller.js')}}"></script>
<script>
    var options = {
        horizontal: 1,
        itemNav: 'basic',
        speed: 300,
        mouseDragging: 1,
        touchDragging: 1,
        scrollBar: '#scrollbar',
        dragHandle: true
    };
    var frame = new Sly('#frame', options).init();

    var options2 = {
        horizontal: 1,
        itemNav: 'basic',
        speed: 300,
        mouseDragging: 1,
        touchDragging: 1,
        scrollBar: '#scrollbar2',
        dragHandle: true
    };
    var frame2 = new Sly('#frame2', options2).init();

</script>
</body>
</html>
